.global-overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(2, 2, 2, .7)
  z-index 5
  opacity 0
  visibility hidden
  
.cases
  display block
  position relative
  margin-top 50vh

  &__content
    margin-left rem(75, 17)
    margin-top rem(-10, 17)

  &__title
    position relative
    font-size rem(60, 17)
    font-weight 500
    margin-bottom rem(32, 17)

.preview-cases
  margin-bottom rem(70, 17)
  margin-top rem(50, 17)

.preview-case
  display block
  text-decoration none
  overflow hidden
  width rem(535, 17)
  height rem(300, 17)
  position relative
  cursor none

  &_visa
    .preview-case__background
      background-image-retina('./assets/visa.jpg')
      background-size cover

  &_egk-ural
    .preview-case__background
      background-image-retina('./assets/egk-ural.jpg')
      background-size cover

  &_5-ozer
    .preview-case__background
      background-image-retina('./assets/5-ozer.jpg')
      background-size cover

  &_husky
    .preview-case__background
      background-image-retina('./assets/husky.jpg')
      background-size cover
  
  &_mageta
    .preview-case__background
      background-image-retina('./assets/mageta.jpg')
      background-size cover
  
  &_julius-meinl
    .preview-case__background
      background-image-retina('./assets/julius-meinl.jpg')
      background-size cover

  &:first-child
    .preview-case__background
      background-image-retina('./assets/case-1.jpg')
      background-size cover

  &:nth-child(2)
    .preview-case__background
      background-image-retina('./assets/case-2.jpg')
      background-size cover

  &:nth-child(3)
    .preview-case__background
      background-image-retina('./assets/case-3.jpg')
      background-size cover

  &__background
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-repeat no-repeat

  &__overlay
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .5)

  &__animation
    position absolute
    background-color #000
    top 0
    right 0
    width rem(40, 17)
    height 100%

  &__content
    position absolute
    bottom rem(35, 17)
    left rem(40, 17)
    color #fff

  &__description
    font-size rem(18, 17)
    line-height rem(22, 17)
    font-weight 300
    letter-spacing rem(1, 17)
  
  &__title
    font-size rem(36, 17)
    line-height 1.2
    font-weight 500
    margin-bottom rem(40, 17)

.preview-case + .preview-case
  margin-top rem(70, 17)

.case-select-wrapper
  position relative
  z-index 10
  height rem(46, 17)


.action-line_cases
  cursor pointer
  width rem(535, 17)
  justify-content space-between

  &.opened
    cursor pointer

  .action-line
    &__options-text
      position relative
      z-index 2
      background-color #000
      padding-right rem(30, 17)

    &__options-line
      margin-left 0
      left 0
      margin-right rem(20, 17)
      position absolute
      right rem(46, 17)

.action-line_case-dropdown
  margin-top rem(-16, 17)

  .action-line
    &__options-text
      background-color transparent
      a
        text-decoration none
        color #fff
        position relative
        cursor pointer

        &:before
          content ''
          position absolute
          bottom rem(-9, 17)
          width 100%
          height 2px
          background-color #fff
          transform scaleX(0)
          transition transform 0.3s ease-in-out
          transform-origin 0% 50%

        &:hover
          &:before
            transform scaleX(1)

        &.active
          &:before
            transform scaleX(1)

    &__options-line
      left rem(152, 17)

.case-select
  height rem(46, 17)
  position relative

  .action-line
    position relative
    z-index 3

  &.stucked
    .case-select__overlay
      display block

  &__overlay
    position absolute
    top -420px
    left 0
    right -5px
    height 500px
    background-color #000
    display none

.case-select-dropdown
  display none
  position absolute
  top rem(16, 17)
  left 0
  width rem(535, 17)

  &__background
    background-color #514845
    position absolute
    top rem(-54, 17)
    bottom rem(-40, 17)
    left rem(-70, 17)
    right rem(-65, 17)
    transform scaleY(0)

  &__items
    position relative
    z-index 2
    display block
    clearfix()

  &__group
    float left
    width rem(265, 17)
    margin-top rem(20, 17)
    opacity 0
    visibility hidden

  &__group + &__group
    width auto
  
  &__item
    font-size rem(16, 17)
    font-weight 300
    letter-spacing rem(1, 17)
    
    a
      text-decoration none
      color #fff
      position relative
      cursor pointer

      &:before
        content ''
        position absolute
        bottom rem(-9, 17)
        width 100%
        height 2px
        background-color #fff
        transform scaleX(0)
        transition transform 0.3s ease-in-out
        transform-origin 0% 50%

      &:hover
        &:before
          transform scaleX(1)

      &.active
        &:before
          transform scaleX(1)
  
  &__item + &__item
    margin-top rem(42, 17)

