extends ../layout.pug

block content
  .barba-container(data-namespace="cases")
    .global-overlay
    .page-container
      .cases
        .cases__content
          .cases__title Кейсы
          .case-select-wrapper
            .case-select(data-dom-module="case-select")
              .case-select__overlay
              .action-line.action-line_cases(data-current-value)
                .action-line__options-text Все категории
                .action-line__options-line
                .action-line__options-button
                  .action-line__options-button-hover
                  .action-line__options-button-lines
                    .action-line__options-button-line.action-line__options-button-line_h
                    .action-line__options-button-line.action-line__options-button-line_v
              .case-select-dropdown
                .case-select-dropdown__background
                .case-select-dropdown__items
                  .action-line.action-line_cases.action-line_case-dropdown
                    .action-line__options-text
                      a(href="cases.html#All", data-type-id="All").active Все категории
                    .action-line__options-line
                    .action-line__options-button
                      .action-line__options-button-hover
                      .action-line__options-button-lines
                        .action-line__options-button-line.action-line__options-button-line_h
                        .action-line__options-button-line.action-line__options-button-line_v
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      a(href="cases.html#1", data-type-id="1") Advertising Campaigns
                    .case-select-dropdown__item
                      a(href="cases.html#2", data-type-id="2") Media
                    .case-select-dropdown__item
                      a(href="cases.html#3", data-type-id="3") Video
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      a(href="cases.html#4", data-type-id="4") Digital
                    .case-select-dropdown__item
                      a(href="cases.html#5", data-type-id="5") SMM
                    .case-select-dropdown__item
                      a(href="cases.html#6", data-type-id="6") BTL & Trade

          .preview-cases(data-dom-module="video-preview")
            a.preview-case(data-case="di-caprio", data-video-preview, href="case-di-caprio.html?case=di-caprio", data-types="[1, 2, 3]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Невозможно <br>
                  подделать
                .preview-case__description.
                  АСГ <br>
                  Пять озер

            a.preview-case(data-case="abrau-durso", data-video-preview, href="case-abrau-durso.html?case=abrau-durso", data-types="[1, 2, 3]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Девочка <br> на лайте
                .preview-case__description Абрау Дюрсо

            a.preview-case(data-case="train-moscow", data-video-preview, href="case-train-moscow.html?case=train-moscow", data-types="[3]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Поезд Москва — <br> будущее уже здесь!
                .preview-case__description Московский транспорт

            a.preview-case.preview-case_5-ozer(data-case="5-ozer", data-video-preview, href="case-5-ozer.html?case=5-ozer", data-types="[1, 2, 3]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  На защите <br>
                  душевного <br>
                  отдыха
                .preview-case__description. 
                  АСГ <br>
                  Пять озер

            a.preview-case.preview-case_kotex-active(data-case="kotex-active", data-video-preview, href="case-kotex-active.html?case=kotex-active", data-types="[1, 2, 3, 4, 5]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title.             
                  Kotex Active
                .preview-case__description. 
                  Kotex

            a.preview-case.preview-case_visa(data-case="visa", data-video-preview, href="case-visa.html?case=visa", data-types="[3]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  New Year <br> Prank
                .preview-case__description. 
                  VISA <br>
                  Samsung pay

            a.preview-case.preview-case_mageta(data-case="mageta", data-video-preview, href="case-mageta.html?case=mageta", data-types="[1, 2, 3, 4, 5]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Мам, <br>
                  ну ты Магёшь
                .preview-case__description. 
                  Русская Бакалейная <br>
                  Компания

            a.preview-case.preview-case_husky(data-case="husky", data-video-preview, href="case-husky.html?case=husky", data-types="[1, 2, 4, 6]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Husky hockey <br>
                  team
                .preview-case__description. 
                  АСГ <br>
                  Водка «Хаски»

            a.preview-case.preview-case_egk-ural(data-case="egk-ural", data-video-preview, href="case-egk-ural.html?case=egk-ural", data-types="[1, 2, 3, 4, 6]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  С родным <br>
                  майонезом <br>
                  за родной Урал
                .preview-case__description. 
                  ЕЖК и ФК «Урал»

            a.preview-case.preview-case_julius-meinl(data-case="julius-meinl", data-video-preview, href="case-julius-meinl.html?case=julius-meinl", data-types="[2, 3]")
              .preview-case__background(data-video-background)
              .preview-case__canvas-container(data-video-canvas-container)
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title.             
                  Поэзия <br>
                  в каждой чашке
                .preview-case__description. 
                  Julius Meinl
