extends ../layout.pug

block content
  .barba-container(data-namespace="cases")
    .global-overlay
    .page-container
      .cases
        .cases__content
          .cases__title Кейсы
          .case-select-wrapper
            .case-select(data-dom-module="case-select")
              .case-select__overlay
              .action-line.action-line_cases(data-current-value)
                .action-line__options-text Все категории
                .action-line__options-line
                .action-line__options-button
                  .action-line__options-button-hover
                  .action-line__options-button-lines
                    .action-line__options-button-line.action-line__options-button-line_h
                    .action-line__options-button-line.action-line__options-button-line_v
              .case-select-dropdown
                .case-select-dropdown__background
                .case-select-dropdown__items
                  .action-line.action-line_cases.action-line_case-dropdown
                    .action-line__options-text
                      a(href="cases.html#All", data-type-id="All").active Все категории
                    .action-line__options-line
                    .action-line__options-button
                      .action-line__options-button-hover
                      .action-line__options-button-lines
                        .action-line__options-button-line.action-line__options-button-line_h
                        .action-line__options-button-line.action-line__options-button-line_v
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      a(href="cases.html#1", data-type-id="1") Advertising Campaigns
                    .case-select-dropdown__item
                      a(href="cases.html#2", data-type-id="2") BTL & Trade
                    .case-select-dropdown__item
                      a(href="cases.html#3", data-type-id="3") Digital
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      a(href="cases.html#4", data-type-id="4") Media
                    .case-select-dropdown__item
                      a(href="cases.html#5", data-type-id="5") SMM
                    .case-select-dropdown__item
                      a(href="cases.html#6", data-type-id="6") Video

          .preview-cases
            a.preview-case(data-dom-module="video" href="case-di-caprio.html?case=1", data-case="1", data-types="[1, 2, 3]")
              .preview-case__background
              .preview-case__canvas-container
                canvas.preview-case__canvas
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Невозможно <br>
                  подделать
                .preview-case__description.
                  АСГ <br>
                  Пять озер

            a.preview-case(href="case-abrau-durso.html?case=2", data-case="2", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  Девочка <br> на лайте
                .preview-case__description Абрау Дюрсо

            a.preview-case(href="case-train-moscow.html?case=3", data-case="3", data-types="[1, 4, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  Поезд Москва — <br> будущее уже здесь!
                .preview-case__description Московский транспорт


            a.preview-case.preview-case_egk-ural(href="case-egk-ural.html?case=4", data-case="4", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  С родным <br>
                  майонезом <br>
                  за родной Урал
                .preview-case__description. 
                  ЕЖК и ФК «Урал»

            a.preview-case.preview-case_husky(href="case-husky.html?case=5", data-case="5", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Husky hockey <br>
                  team
                .preview-case__description. 
                  АСГ <br>
                  Водка «Хаски»

            a.preview-case.preview-case_5-ozer(href="case-5-ozer.html?case=6", data-case="6", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  На защите <br>
                  душевного <br>
                  отдыха
                .preview-case__description. 
                  АСГ <br>
                  Пять озер

            a.preview-case.preview-case_visa(href="case-visa.html?case=7", data-case="7", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  New Year <br> Prank
                .preview-case__description. 
                  VISA <br>
                  Samsung pay

            a.preview-case.preview-case_mageta(href="case-mageta.html?case=8", data-case="8", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title. 
                  Мам, <br>
                  ну ты Магёшь
                .preview-case__description. 
                  Русская Бакалейная <br>
                  Компания

            a.preview-case.preview-case_julius-meinl(href="case-julius-meinl.html?case=9", data-case="9", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title.             
                  Поэзия <br>
                  в каждой чашке
                .preview-case__description. 
                  Julius Meinl

            a.preview-case.preview-case_kotex-active(href="case-kotex-active.html?case=10", data-case="10", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__overlay
              .preview-case__content
                .preview-case__title.             
                  Kotex Active
                .preview-case__description. 
                  Kotex
