extends ../layout.pug

block content
  .barba-container(data-namespace="cases")
    .global-overlay
    .page-container
      .cases
        .cases__content
          .cases__title Кейсы
          .case-select-wrapper
            .case-select(data-dom-module="case-select")
              .case-select__overlay
              .action-line.action-line_cases(data-current-value)
                .action-line__options-text Все категории
                .action-line__options-line
                .action-line__options-button
                  .action-line__options-button-hover
                  .action-line__options-button-lines
                    .action-line__options-button-line.action-line__options-button-line_h
                    .action-line__options-button-line.action-line__options-button-line_v
              .case-select-dropdown
                .case-select-dropdown__background
                .case-select-dropdown__items
                  .action-line.action-line_cases.action-line_case-dropdown
                    .action-line__options-text
                      a(href="cases.html#All", data-type-id="All").active Все категории
                    .action-line__options-line
                    .action-line__options-button
                      .action-line__options-button-hover
                      .action-line__options-button-lines
                        .action-line__options-button-line.action-line__options-button-line_h
                        .action-line__options-button-line.action-line__options-button-line_v
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      a(href="cases.html#1", data-type-id="1") Advertising Campaigns
                    .case-select-dropdown__item
                      a(href="cases.html#2", data-type-id="2") BTL & Trade
                    .case-select-dropdown__item
                      a(href="cases.html#3", data-type-id="3") Digital
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      a(href="cases.html#4", data-type-id="4") Media
                    .case-select-dropdown__item
                      a(href="cases.html#5", data-type-id="5") SMM
                    .case-select-dropdown__item
                      a(href="cases.html#6", data-type-id="6") Video

          .preview-cases
            a.preview-case(href="case.html?case=1", data-case="1", data-types="[1, 2, 3]")
              .preview-case__background
              .preview-case__animation

              .preview-case__content
                .preview-case__title. 
                  Ди Каприо <br> о настоящем
                .preview-case__description ACГ: Водка «Пять Озёр»

            a.preview-case(href="case.html?case=2", data-case="2", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  Девочка <br> на лайте
                .preview-case__description Абрау Дюрсо

            a.preview-case(href="case.html?case=3", data-case="3", data-types="[1, 4, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  Поезд Москва — <br> будущее уже здесь!
                .preview-case__description Московский транспорт

            a.preview-case(href="case.html?case=4", data-case="4", data-types="[2, 5, 6]")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  New Year <br> Prank
                .preview-case__description Visa
