extends ../layout.pug

block content
  .barba-container(data-namespace="cases")
    .page-container
      .cases
        .cases__content
          .cases__title Кейсы
          .case-select-wrapper
            .case-select(data-dom-module="case-select")
              .case-select__overlay
              .action-line.action-line_cases
                .action-line__options-text Все категории
                .action-line__options-line
                .action-line__options-button
                  .action-line__options-button-line.action-line__options-button-line_h
                  .action-line__options-button-line.action-line__options-button-line_v
              .case-select-dropdown
                .case-select-dropdown__background
                .case-select-dropdown__items
                  .case-select-dropdown__item.active
                    span Все категории
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      span Advertising Campaigns
                    .case-select-dropdown__item
                      span BTL & Trade
                    .case-select-dropdown__item
                      span Digital
                  .case-select-dropdown__group
                    .case-select-dropdown__item
                      span Media
                    .case-select-dropdown__item
                      span SMM
                    .case-select-dropdown__item
                      span Video

          .preview-cases
            a.preview-case(href="#")
              .preview-case__background
              .preview-case__animation

              .preview-case__content
                .preview-case__title. 
                  Ди Каприо <br> о настоящем
                .preview-case__description ACГ: Водка «Пять Озёр»

            a.preview-case(href="#")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  Девочка <br> на лайте
                .preview-case__description Абрау Дюрсо

            a.preview-case(href="#")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  Поезд Москва — <br> будущее уже здесь!
                .preview-case__description Московский транспорт

            a.preview-case(href="#")
              .preview-case__background
              .preview-case__animation
              .preview-case__content
                .preview-case__title. 
                  New Year <br> Prank
                .preview-case__description Visa
