@import './fonts/style.css';

html
  position fixed
  top 0
  left 0
  width 100%
  height 100%

body
  font-family 'Graphik LCG'
  height 100%
  background-color #000
  color #fff
  margin 0

p
  margin 0

h1, h2
  margin 0
  padding 0

.custom-scroll
  height 100%


.scrollbar-track
  background transparent !important

.scrollbar-thumb
  border-radius 0 !important
  background #5e5955 !important

#barba-wrapper
  height 100%

.barba-container
  position relative
  overflow hidden
  width 100%

.fixed-container
  position fixed
  z-index 1
  top 0
  left 0
  height 100%

.scroll-down
  position fixed
  right rem(100, 17)
  bottom rem(60, 17)
  opacity 0
  visibility hidden

  &__line
    height rem(100, 17)
    width 1px
    background-color #4d4643
    margin 0 auto rem(20, 17)
  
  &__arrow
    imgboxrem('./images/arrow-down.png', 17)

.page-container
  position relative
  width 59.6%
  margin-left 41.4%
  
.section
  position relative
  height 100vh
  display flex
  align-items center

  &__content
    margin-top rem(-18, 17)
    margin-left rem(75, 17)
    position absolute
    top 50%
  
  &__row
    display flex
    flex-direction row

.section + .section
  margin-top 0vh

.copyright
  font-size rem(12, 17)
  font-weight 300
  color rgba(255, 255, 255, .2)
  position absolute
  right rem(100, 17)
  bottom rem(62, 17)

.contacts-info-links
  position relative
  overflow hidden
  
  &__item
    font-size rem(20, 17)
    font-weight 300
    color #5e5955
    text-decoration none
    display inline-block
    vertical-align middle

  &__separator
    display inline-block
    vertical-align middle
    height rem(19, 17)
    width 1px
    background-color #5e5955
    margin 0 rem(42, 17)

.telegram
  opacity 0
  visibility hidden
  display block
  position relative
  height rem(50, 17)
  width rem(265, 17)
  display flex
  align-items center
  justify-content space-between
  text-decoration none
  transition background-color 0.3s ease-in-out


  &__background
    position absolute
    top 0
    left rem(25, 17)
    right rem(25, 17)
    height 100%
    background-color #5e5955
    transform scaleX(1)
    transform-origin 0 50%

  &__border
    position absolute
    background-color #5e5955
    border-radius 99999px
    width rem(50, 17)
    height 100%

    &_left
      left 0
    
    &_right
      right 0

  &__text
    position relative
    color #fff
    font-size rem(14, 17)
    letter-spacing rem(0.5, 17)
    font-weight 300
    margin-left rem(25, 17)

  &__icon
    position relative
    imgboxrem('./images/telegram.png', 17)
    margin-right rem(6, 17)


.action-line
  display flex
  align-items center

  &__options-text
    font-size rem(16, 17)
    line-height 1.5
    letter-spacing rem(1, 17)
    font-weight 300

  &__options-line
    margin-left rem(30, 17)
    margin-right rem(15, 17)
    height 1px
    background-color #514845

  &__options-button
    width rem(46, 17)
    height rem(46, 17)
    border-radius 50%
    border 1px solid #514845
    cursor pointer
    position relative
  
  &__options-button-line
    position absolute
    background-color #fff
    top 50%
    left 50%
    
    &_h
      width 10px
      height 1px
      margin-left -5px

    &_v
      width 1px
      height 10px
      margin-top -5px

.action-line_service
  .action-line
    &__options-line
      width rem(405, 17)

.animation-common-block
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color #000

.hover
  position fixed
  top 0
  left 0
  width rem(40, 17)
  height rem(40, 17)
  background-color rgba(81, 72, 69, 0.8)
  border-radius 50%
  transform scale(0)
  cursor none
  pointer-events none

