@import '../../variables.styl';

.services
  position relative
  top rem(-95, 17)
  margin-top 50vh
  margin-bottom rem(32, 17)
  +width-lessthan(tablet)
    top 0
    margin-top rem(130, 17)
    margin-bottom 0

.service
  position relative
  width rem(694, 17)
  box-sizing border-box
  padding rem(80, 17) rem(80, 17) rem(80, 17) rem(78, 17)
  +width-lessthan(tablet)
    width 100%
    padding rem(60, 17) rem(40, 17)

  &.active
    +width-lessthan(tablet)
      z-index 3000
      // height 100vh
      // overflow-y scroll
      // -webkit-overflow-scrolling touch

      .service__background
        // min-height 100vh
  
  // &.fixed
  //   +width-lessthan(tablet)
  //     position fixed
  //     top 0
  //     left 0

  &:first-child
    .service__list:first-child
      width rem(325, 17)
      +width-lessthan(tablet)
        width 100%
  
  &__background
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color #514845
    transform scaleY(0)

  &__wrapper
    position relative

  &__head
    cursor pointer

  &__header
    margin-bottom rem(30, 17)

  &__title
    font-size rem(60, 17)
    line-height 1.15
    font-weight 500
    +width-lessthan(tablet)
      font-size rem(36, 17)
      line-height 1.25

  &__index
    position absolute
    font-weight 300
    top rem(7, 17)
    right 0
    font-size rem(19, 17)
    color #514845
    +width-lessthan(tablet)
      font-size rem(14, 17)
      top rem(6, 17)

  &__content
    height 0
    overflow hidden

  &__content-description
    margin-top rem(40, 17)
    font-size rem(18, 17)
    line-height rem(30, 17)
    font-weight 300
    letter-spacing rem(1, 17)
    width 90%
    margin-bottom rem(35, 17)
    +width-lessthan(tablet)
      font-size rem(15, 17)
      line-height rem(24, 17)
      margin-top rem(30, 17)

      br
        display none

  &__list-group
    clearfix()

  &__list
    list-style-type none
    margin 0
    padding 0
    float left

    li
      position relative
      font-size rem(14, 17)
      padding-left rem(25, 17)
      letter-spacing rem(1, 17)
      font-weight 300
      +width-lessthan(tablet)
        font-size rem(13, 17)

      &:before
        position absolute
        left 0
        content '•'

    li + li
      margin-top rem(17, 17)
      +width-lessthan(tablet)
        margin-top rem(22, 17)

  &__list + &__list
    +width-lessthan(tablet)
      margin-top rem(22, 17)
