extends ../layout.pug

block content
  .barba-container(data-namespace="servicespage")
    p.copyright © Sputniki_  2018
    .page-container
      .services(data-dom-module="services")
        .service
          .service__background
          .service__wrapper
            .service__head
              .service__header
                .service__title.
                  Advertising <br> Campaigns
                .service__index 01
              .service__options
                .service__options-text Опции
                .service__options-line
                .service__options-button
                  .service__options-button-line.service__options-button-line_h
                  .service__options-button-line.service__options-button-line_v
            .service__content
              p.service__content-description. 
                Разработка и реализация краткосрочных <br>и долгосрочных рекламных кампаний.
              .service__list-group
                ul.service__list
                  li Коммуникационная платформа
                  li Селебрити
                  li Видео
                  li Сайт
                  li Медийная поддержка
                ul.service__list
                  li Вовлекающая активация
                  li Стимулирующая акция
                  li Призовоий фонд
                  li Офлайн-поддержка
        .service
          .service__background
          .service__wrapper
            .service__head
              .service__header
                .service__title.
                  BTL & Trade
                .service__index 02
              .service__options
                .service__options-text Опции
                .service__options-line
                .service__options-button
                  .service__options-button-line.service__options-button-line_h
                  .service__options-button-line.service__options-button-line_v
            .service__content
              p.service__content-description Разработка и реализация треийд-маркетинговых программ и программ лояльности.
              .service__list-group
                ul.service__list
                  li Стимулирующая акция
                  li Мероприятия с участием специализированного промоперсонала
                  li Мотивация сотрудников точек
                  li Обучающие программы для сотрудников точек
                  li  Аудит & POSm
        .service
          .service__background
          .service__wrapper
            .service__head
              .service__header
                .service__title.
                  Digital
                .service__index 03
              .service__options
                .service__options-text Опции
                .service__options-line
                .service__options-button
                  .service__options-button-line.service__options-button-line_h
                  .service__options-button-line.service__options-button-line_v
            .service__content
              p.service__content-description. 
                Создание и продюсирование рекламных <br> digital-продуктов.
              .service__list-group
                ul.service__list
                  li Контекстная реклама
                  li Продуктовые сайты
                  li Promo-сайты
                  li Online-игры
                  li Интерактивные системы
                  li Мобильные приложения
        .service
          .service__background
          .service__wrapper
            .service__head
              .service__header
                .service__title.
                  Media
                .service__index 04
              .service__options
                .service__options-text Опции
                .service__options-line
                .service__options-button
                  .service__options-button-line.service__options-button-line_h
                  .service__options-button-line.service__options-button-line_v
            .service__content
              p.service__content-description. 
                Мультиканальные стратегии в digital <br> и размещение креативов.
              .service__list-group
                ul.service__list
                  li Контекстная реклама
                  li SEO-продвижение
                  li Продвижение на тематических порталах
                  li Онлайн видеореклама (OLV)
        .service
          .service__background
          .service__wrapper
            .service__head
              .service__header
                .service__title.
                  SMM
                .service__index 05
              .service__options
                .service__options-text Опции
                .service__options-line
                .service__options-button
                  .service__options-button-line.service__options-button-line_h
                  .service__options-button-line.service__options-button-line_v
            .service__content
              p.service__content-description. 
                SMM стратегии и спецпроекты в социальных сетях.
              .service__list-group
                ul.service__list
                  li SMM стратегия
                  li Медийная поддержка
                  li Уникальный контент
                  li Работа с лидерами мнения
                  li Спецпроекты в SMM
        .service
          .service__background
          .service__wrapper
            .service__head
              .service__header
                .service__title.
                  Video
                .service__index 06
              .service__options
                .service__options-text Опции
                .service__options-line
                .service__options-button
                  .service__options-button-line.service__options-button-line_h
                  .service__options-button-line.service__options-button-line_v
            .service__content
              p.service__content-description Создание и продвижение видеоконтента с участием команд российского и международного уровня.
              .service__list-group
                ul.service__list
                  li Съемки для TV
                  li Web Video
                  li Motion Video
                  li Продвижение
