@font-face {
  font-family: 'Graphik LCG';
  src: url('subset-GraphikLCG-Regular.woff2') format('woff2'),
      url('subset-GraphikLCG-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('subset-GraphikLCG-Bold.woff2') format('woff2'),
       url('subset-GraphikLCG-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
