html(data-dom-module="base-layout")
  head
    title Sputniki
    link#favicon(href="favicon.ico", rel="icon", type="image/x-icon")
    script.
      window.retina = window.devicePixelRatio > 1 ? true : false;
      if (window.retina && document.getElementById('favicon')) {
        var favicon = document.getElementById('favicon');
        var faviconHref = favicon.getAttribute('href').replace('.ico', '@2x.ico');
        favicon.setAttribute('href', faviconHref);
      }
  body
    .fixed-container
      nav.menu(data-dom-module="menu")
        ul.menu__list
          li.menu__item
            a(href="about.html", data-name="about").menu__link О нас
          li.menu__item
            a(href="cases.html", data-name="cases").menu__link Кейсы
          li.menu__item
            a(href="services.html", data-name="services").menu__link Услуги
          li.menu__item
            a(href="contacts.html", data-name="contacts").menu__link Контакты
      a.logo(href="index.html" data-dom-module="logo")
      ul.social-list(data-dom-module="social-icon-list")
        li.social-list__item
          a.social-list__link.social-list__link_fb(href="#", data-icon="fb")
        li.social-list__item
          a.social-list__link.social-list__link_instagram(href="#", data-icon="instagram")
        li.social-list__item
          a.social-list__link.social-list__link_youtube(href="#", data-icon="youtube")
    .scroll-down(data-dom-module="scroll-down")
      .scroll-down__line
      .scroll-down__arrow
    .loader(data-dom-module="loader")
    .custom-scroll
      #barba-wrapper
        block content
        
      
    
