html(data-dom-module="base-layout")
  head
  body
    .fixed-container
      nav.menu(data-dom-module="menu")
        ul.menu__list
          li.menu__item
            a(href="about.html").menu__link О нас
          li.menu__item
            a(href="cases.html").menu__link Кейсы
          li.menu__item
            a(href="services.html").menu__link Услуги
          li.menu__item
            a(href="contacts.html").menu__link Контакты
      a.logo(href="/" data-dom-module="logo")
      ul.social-list(data-dom-module="social-icon-list")
        li.social-list__item
          a.social-list__link.social-list__link_fb(href="#", data-icon="fb")
        li.social-list__item
          a.social-list__link.social-list__link_instagram(href="#", data-icon="instagram")
        li.social-list__item
          a.social-list__link.social-list__link_youtube(href="#", data-icon="youtube")
    #barba-wrapper
      block content
        
      
    
