@import '../../variables.styl';

.logo
  display block
  position absolute
  top 50%
  left rem(100, 17)
  width rem(421, 17)
  height rem(99, 17)
  margin-top rem(-47, 17)
  +width-lessthan(tablet)
    left 50px
    top 0
    margin-top 0
    width 180px
