.section_contacts
  position relative
  h1
    font-size rem(60, 17)
    font-weight 500
    margin-bottom rem(47, 17)
    span
      position relative
      overflow hidden

  .section
    &__content
      margin-top rem(-10, 17)
      position absolute
      top 50%

.section_contacts-hello
  position relative
  h1
    margin-bottom 0
    margin-right rem(50, 17)

  .section
    &__content
      display flex
      align-items center

.address
  position relative
  margin-bottom rem(60, 17)
  &__icon
    imgboxrem('./assets/pin.png', 17)
    display inline-block
    vertical-align middle

  &__text
    margin-left rem(20, 17)
    font-size rem(19, 17)
    letter-spacing rem(1, 17)
    font-weight 300
    display inline-block
    vertical-align middle
