.section_contacts
  position relative
  h1
    font-size rem(60, 17)
    font-weight 500
    margin-bottom rem(80, 17)

  .section
    &__content
      margin-top rem(-10, 17)
      position absolute
      top 50%

.section_contacts-hello
  position relative
  h1
    margin-bottom 0
    margin-right rem(50, 17)

  .section
    &__content
      display flex
      align-items center

.address
  margin-bottom rem(60, 17)
  &__icon
    imgboxrem('./assets/pin.png', 17)
    display inline-block
    vertical-align middle

  &__text
    margin-left rem(20, 17)
    font-size rem(19, 17)
    letter-spacing rem(1, 17)
    font-weight 300
    display inline-block
    vertical-align middle

.contacts-info-links
  &__item
    font-size rem(20, 17)
    font-weight 300
    color #5e5955
    text-decoration none
    display inline-block
    vertical-align middle

  &__separator
    display inline-block
    vertical-align middle
    height rem(19, 17)
    width 1px
    background-color #5e5955
    margin 0 rem(42, 17)


.telegram
  display block
  height rem(50, 17)
  width rem(265, 17)
  border-radius 99999px
  background-color #5e5955
  display flex
  align-items center
  justify-content space-between
  text-decoration none
  transition background-color 0.3s ease-in-out

  &:hover
    background-color #524c48

  &__text
    color #fff
    font-size rem(14, 17)
    letter-spacing rem(0.5, 17)
    font-weight 300
    margin-left rem(25, 17)

  &__icon
    imgboxrem('./assets/telegram.png', 17)
    margin-right rem(6, 17)
