extends ../layout.pug

block content
  .barba-container(data-namespace="contacts")
    .page-container
      .section.section_contacts.section_contacts_1(data-scroll-target)
        .section__content
          h1 Москва
          a.address(target="_blank" href="https://yandex.ru/maps/213/moscow/?mode=search&ll=37.604646%2C55.770877&z=17&text=%D1%83%D0%BB.%20%D0%9C%D0%B0%D0%BB%D0%B0%D1%8F%20%D0%94%D0%BC%D0%B8%D1%82%D1%80%D0%BE%D0%B2%D0%BA%D0%B0%2C%2025%2C%20%D1%81%D1%82%D1%80%201%20%D0%BE%D1%84%D0%B8%D1%81%2028&sll=37.607565%2C55.730826&sspn=0.195351%2C0.075362")
            .address__icon
            .address__text. 
              <span>ул. Малая Дмитровка, 25, стр 1</span> офис 28
          .contacts-info-links
            a.contacts-info-links__item(href="tel:+74956697801") +7 (495) 669-78-01
            span.contacts-info-links__separator
            a.contacts-info-links__item(href="mailto:office@sputniki.com") office@sputniki.com 
      .section.section_contacts.section_contacts_2(data-scroll-target)
        .section__content
          h1 Екатеринбург
          a.address(target="_blank" href="https://yandex.ru/maps/54/yekaterinburg/?mode=search&ll=60.612427%2C56.839385&z=14&text=%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3%20%D0%9F%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82%20%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0%2C%2050%D0%B4%20%D0%BE%D1%84%D0%B8%D1%81%20307%2C%20304&sll=37.954234%2C55.800418&sspn=0.105572%2C0.040369")
            .address__icon
            .address__text. 
              <span>Проспект Ленина, 50д</span> офис 307, 304
          .contacts-info-links
            a.contacts-info-links__item(href="tel:+73432536992") +7 (343) 253-69-92
            span.contacts-info-links__separator
            a.contacts-info-links__item(href="mailto:office@sputniki.com") office@sputniki.com
      .section.section_contacts.section_contacts-hello(data-scroll-target)
        .section__content
          h1 Привет!
          a.telegram(href="#")
            .telegram__background
            .telegram__border.telegram__border_left
            .telegram__border.telegram__border_right
            .telegram__text Напишите нам в Telegram
            .telegram__circle
              .telegram__icon
        p.copyright © Sputniki_  2018
