.case-promo
  width 100%

.back
  display flex
  align-items center
  justify-content center
  position absolute
  top rem(80, 17)
  left rem(45, 17)
  width rem(67, 17)
  height rem(67, 17)
  border 1px solid #514745
  box-sizing border-box
  border-radius 50%

  &:after
    content ''
    position relative
    z-index 1
    imgbox('./assets/arrow-left.png')

  &:before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color #514745
    border-radius 50%
    transform scale(0)
    transition transform 0.25s ease-in-out

  &:hover
    &:before
      transform scale(1)

.case-promo
  position relative
  margin-top rem(80, 17)
  height rem(540, 17)
  background-image-retina('./assets/case-1.png')
  background-repeat no-repeat
  background-size cover
  cursor pointer

  &__overlay
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    background-color rgba(0, 0, 0, 0.5)

  &__info
    position absolute
    bottom rem(47, 17)
    left 0
    width 100%

  &__name
    position absolute
    bottom 0
    left rem(65, 17)
    width 60%
    font-size rem(60, 17)
    line-height 1.2
    font-weight 500

.watch-video
  position absolute
  bottom rem(16, 17)
  right rem(95, 17)
  display flex
  align-items center
  cursor pointer

  &__text
    font-size rem(18, 17)
    line-height 1.3
    font-weight 300
    margin-right rem(30, 17)

  &__icon
    imgboxrem('./assets/watch-video.png', 17)

  
.case-info
  position relative
  margin rem(155, 17) 0

  &__row
    display flex

  &__main
    width rem(220, 17)
    margin-right rem(260, 17)

  &__separator
    position absolute
    left rem(314, 17)
    top 0
    width 1px
    background-color #514845
    bottom rem(12, 17)

.case-description
  width rem(465, 17)

  &__title
    font-size rem(36, 17)
    font-weight 500
    letter-spacing rem(2, 17)
    margin-bottom rem(40, 17)

  &__text
    font-size rem(18, 17)
    line-height rem(36, 17)
    font-weight 300
    letter-spacing rem(1.3, 17)

    span
      font-weight 500
      font-size rem(24, 17)
      color #766764

.case-description + .case-description
  margin-top rem(135, 17)

.case-fact
  &__name
    font-size rem(12, 17)
    font-weight 300
    color #766764
    letter-spacing rem(1.8, 17)
    margin-bottom rem(32, 17)

  &__title
    font-size rem(24, 17)
    font-weight 300
    letter-spacing rem(1.2, 17)
  
  &__list
    margin 0
    padding 0
    list-style-type none

    li
      position relative
      padding-left rem(18, 17)
      font-size rem(16, 17)
      font-weight 300
      line-height rem(37, 17)


      &:before
        content '•'
        position absolute
        left 0
        color #5f534f
        font-size rem(14, 17)

  &__title + &__list
    margin-top rem(16, 17)

.case-fact + .case-fact
  margin-top rem(125, 17)

.case-slider
  position relative
  margin rem(138, 17) 0 rem(155, 17)
  height rem(540, 17)

  &__wrapper
    height rem(540, 17)
    cursor none

  &__hover
    display flex
    align-items center
    justify-content center
    position absolute
    z-index 1
    top 0
    left 0
    width rem(80, 17)
    height rem(80, 17)
    background-color #5d524d
    border-radius 50%
    transform scale(0)
    cursor none
    pointer-events none
  
  &__hover-icon
    imgboxrem('./assets/arrow-right.png', 17)

    &.left
      transform rotate(180deg)

    &.right
      transform rotate(0deg)

  &__slide
    height rem(540, 17)
    background-repeat no-repeat

    &_1
      background-image-retina('./assets/case-1-slide-1.jpg')
      background-size cover

    &_2
      background-image-retina('./assets/case-1-slide-2.jpg')
      background-size cover

    &_3
      background-image-retina('./assets/case-1-slide-3.jpg')
      background-size cover

  .slick-list, .slick-track
    height rem(540, 17)

  .slick-slide > div
    height rem(540, 17)

.case-results
  margin-left rem(480, 17)

.case-next
  position relative
  height rem(270, 17)
  background-image-retina('./assets/case-2.png')
  background-repeat no-repeat
  background-size cover
  display flex
  align-items center
  cursor pointer

  &:hover
    .case-next__overlay
      opacity 0

  &__overlay
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .3)
    transition opacity 0.5s ease-in-out

  &__info
    display flex
    width 100%
    justify-content space-between
    align-items center
    margin-top rem(50, 17)

  &__name
    margin-left rem(65, 17)
    font-size rem(36, 17)
    line-height 1.2
    font-weight 500

.next-case-button
  position relative
  display flex
  align-items center
  margin-right rem(95, 17)
  cursor pointer

  &__text
    font-size rem(18, 17)
    line-height 1.3
    font-weight 300
    margin-right rem(50, 17)

  &__icon
    imgboxrem('./assets/arrow-down.png', 17)

.player-wrapper
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color #000

.player-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  cursor none

.player-close
  display flex
  align-items center
  justify-content center
  position absolute
  z-index 1
  top 0
  left 0
  width rem(80, 17)
  height rem(80, 17)
  background-color #5d524d
  border-radius 50%
  transform scale(0)
  cursor none
  pointer-events none
  
  &:after
    content ''
    imgboxrem('./assets/close.png', 17)
