extends ../layout.pug

block content
  .barba-container(data-namespace="case", data-case="egk-ural")
    a.back(data-dom-module="back", href="cases.html")
    .page-container.page-container_case
      .case
        .case-promo.case-promo_egk-ural(data-dom-module="case-promo", data-video='[{ "name": "Кейс", "videoId": "_jIbdkaatf8"}]')
          .case-promo__overlay
          .case-promo__info
            .case-promo__name. 
              С родным <br>
              майонезом <br>
              за родной Урал
            .watch-video
              .watch-video__text.
                Смотреть <br> кейс
              .watch-video__circle
                .watch-video__hover
                .watch-video__icon
        .case-info
          .case-info__row
            .case-info__main
              .case-fact
                .case-fact__name Клиент
                .case-fact__title. 
                  ЕЖК и ФК «Урал»
              .case-fact
                .case-fact__name Услуги
                .case-fact__title Advertising Campaigns
                ul.case-fact__list
                  li Коммуникационная платформа
                  li Вовлекающая активация
                  li Видео
                  li Сайт
            .case-info__separator
            .case-info__additional
              .case-description
                .case-description__title Задача
                .case-description__text. 
                  Поддержать коллаборацию бренда <br> 
                  и футбольного клуба УРАЛ. Раскрыть патриотизм к малой Родине и местным производителям питания.
              .case-description
                .case-description__title Решение
                .case-description__link
                  a(target="_blank", href="http://www.ежк-урал.рф/") www.ежк-урал.рф
                .case-description__text. 
                  Мы создали портал болельщика ФК Урал <br>
                  с околофутбольным активациями, которые <br> 
                  подогревали азарт, вовлекали аудиторию <br>
                  и вызывали бешеный аппетит.Также нами были <br> 
                  организованы оффлайн инициативы во время <br>
                  матчей ФК Урал, а на сайте был раздел <br>
                  с их фотоотчетами.
          .case-slider.case-slider_visa(data-dom-module="case-slider", data-slider="egk-ural")
            .case-slider__wrapper
            .case-slider__hover
              .case-slider__hover-icon.left
            .case-slider__pagination
              span.case-slider__pagination-current
              span.case-slider__pagination-separator /
              span.case-slider__pagination-count
          .case-results
            .case-description
              .case-description__title Результаты
              .case-description__text.
                <span>510 848</span> просмотров видео <br>
                <span>9 118</span> уникальных посетителей сайта <br>
                <span>1 387</span> участников <br>
        a.case-next.case-next_husky(href="case-husky.html")
          .case-next__overlay
          .case-next__info
            .case-next__name. 
              Husky hockey <br>
              team
            .next-case-button
              .next-case-button__text. 
                Следующий <br> кейс
              .next-case-button__icon
