extends ../layout.pug

block content
  .barba-container(data-namespace="case", data-case="julius-meinl")
    a.back(data-dom-module="back", href="cases.html")
    .page-container.page-container_case
      .case(data-dom-module="video", data-case="julius-meinl")
        .case-promo.case-promo_julius-meinl(data-dom-module="case-promo", data-video='[{ "name": "Кейс", "videoId": "K_6n1SVriJ8"}]')
          .case-promo__background
          .case-promo__canvas-container(data-video-container)
          .case-promo__overlay
          .case-promo__info
            .case-promo__name. 
              Поэзия <br>
              в каждой чашке
            .watch-video
              .watch-video__text.
                Смотреть
              .watch-video__circle
                .watch-video__hover
                .watch-video__icon
        .case-info
          .case-info__row
            .case-info__main
              .case-fact
                .case-fact__name Клиент
                .case-fact__title. 
                  Julius Meinl
              .case-fact
                .case-fact__name Услуги
                .case-fact__title Video
                .case-fact__title Media
                ul.case-fact__list
                  li Web Video
            .case-info__separator
            .case-info__additional
              .case-description
                .case-description__title Задача
                .case-description__text. 
                  Спецпроект ко всемирному дню поэзии
              .case-description
                .case-description__title Решение
                .case-description__text. 
                  Нет 
          .case-slider.case-slider_julius-meinl(data-dom-module="case-slider", data-slider="julius-meinl")
            .case-slider__wrapper
            .case-slider__hover
              .case-slider__hover-icon.left
            .case-slider__pagination
              span.case-slider__pagination-current
              span.case-slider__pagination-separator /
              span.case-slider__pagination-count
          .case-results
            .case-description
              .case-description__title Результаты
              .case-description__text. 
                Реализация под ключ за <span>14 дней</span> <br>
                Более <span>500 000</span> просмотров
        a.case-next.case-next_di-caprio(href="case-di-caprio.html")
          .case-next__overlay
          .case-next__info
            .case-next__name. 
              Невозможно <br>
              подделать
            .next-case-button
              .next-case-button__text. 
                Следующий <br> кейс
              .next-case-button__icon
