extends ../layout.pug

block content
  .barba-container(data-namespace="case", data-case="kotex-active")
    a.back(data-dom-module="back", href="cases.html")
    .page-container.page-container_case
      .case(data-dom-module="video", data-case="kotex-active")
        .case-promo.case-promo_kotex-active(data-dom-module="case-promo", data-video='[{ "name": "Кейс", "videoId": "mBU8-2QCOxw"}]')
          .case-promo__background
          .case-promo__canvas-container(data-video-container)
          .case-promo__overlay
          .case-promo__info
            .case-promo__name. 
              Kotex Active
            .watch-video
              .watch-video__text.
                Смотреть
              .watch-video__circle
                .watch-video__hover
                .watch-video__icon
        .case-info
          .case-info__row
            .case-info__main
              .case-fact
                .case-fact__name Клиент
                .case-fact__title. 
                  Kotex
              .case-fact
                .case-fact__name Услуги
                .case-fact__title Advertising Campaigns
                ul.case-fact__list
                  li. 
                    Коммуникационная <br> платформа
                  li Селебрити
                  li Диджитал продакшн
                  li Видео продакшн
                  li SMM
                  li Он-лайн трансляции
                  li Медиа поддержка
            .case-info__separator
            .case-info__additional
              .case-description
                .case-description__title Задача
                .case-description__text. 
                  Рассказать, что тампоны Kotex Active <br>
                  позволяет вести активный образ жизни даже <br>
                  в "эти дни", ни о чем не беспокоясь. 
              .case-description
                .case-description__title Решение
                .case-description__text
                  p.
                    Танцуют все! <br>
                    Именно поэтому мы пригласили <br>
                    к сотрудничеству с брендом знаменитую <br> 
                    танцовщицу Юлиану Бухольц (проекты Танцы <br> 
                    на ТНТ и PROТанцы). Юлиана научила <br>
                    танцевать и быть уверенной в себе тысячи <br> 
                    девчонок в проекте Kotex POP Dance.
                  p.
                    А следующим летом мы снова затанцевали <br>
                    с Юлианой в проекте Активируй лето! <br>
                    Мы оцифровали Юлиану, предложив <br>
                    пользователям управлять ее танцем <br> 
                    и поборться за приз - поездка в лагерь <br>
                    PROТанцы.
                  p.
                    Амбасадор бренда Юлиана ежедневно <br>
                    выходила с прямыми трансляциями <br>
                    в официальном сообществе Kotex Россия <br>
                    в VK и показывала подписчикам жизнь <br> 
                    танцевального лагеря. Выпуски трансляций <br> 
                    размещались на сайте, куда привлекался <br> 
                    дополнительный трафик из YouTube. <br>
                    Финалом кампании стали интеграции <br>
                    в паблики Instagram звездных хореографов.
          .case-slider.case-slider_kotex-active(data-dom-module="case-slider", data-slider="kotex-active")
            .case-slider__wrapper
            .case-slider__hover
              .case-slider__hover-icon.left
            .case-slider__pagination
              span.case-slider__pagination-current
              span.case-slider__pagination-separator /
              span.case-slider__pagination-count
          .case-results
            .case-description
              .case-description__title Результаты
              .case-description__text
                p.
                  2016 <br>
                  <span>179 000</span> - уникальных посетителей сайта. <br>
                  <span>48 321</span> - приняли участие в проекте <br>
                  <span>4 301</span> - зарегистрировали промокод
                p.
                  2017 <br>
                  <span>20 401 043</span> просмотров GPMD, Yandex, YouTube <br>
                  <span>204 109</span> - уникальных посетителей сайта. <br>
                  Online игра: <br>
                  Более <span>20 000</span> игровых сессий. <br>
                  <span>5 720</span> человек выполнили все условия конкурса. <br>
                  Конверсия в игру <span>40%</span>. <br>
                  Live трансляции: <br>
                  Более <span>1 000 000</span> - просмотров <br>
                  Интеграция в Instagram хореографов: <br>
                  Более <span>2 000 000</span> просмотров
        a.case-next.case-next_visa(href="case-visa.html")
          .case-next__overlay
          .case-next__info
            .case-next__name. 
              New year <br>
              prank
            .next-case-button
              .next-case-button__text. 
                Следующий <br> кейс
              .next-case-button__icon
