extends ../layout.pug

block content
  .barba-container(data-namespace="case")
    a.back(href="cases.html")
    .page-container.page-container_case
      .case
        .case-promo
          .case-promo__overlay
          .case-promo__info
            .case-promo__name. 
              Девочка <br> на лайте
            .watch-video
              .watch-video__text.
                Смотреть <br> кейс
              .watch-video__icon
