@import '../../variables.styl';
  
.promo
  height 100vh
  display flex
  align-items center
  justify-content flex-start
  +width-lessthan(tablet)
    justify-content center

  &__items
    position relative
    width rem(325, 17)
    height rem(325, 17)
    margin-left rem(50, 17)
    +width-lessthan(tablet)
      margin-left 0
   
  &__item
    position absolute
    left 0
    top 0
    opacity 0

    &_1
      opacity 1
      imgboxrem('./assets/case-1.png', 17)

    &_2
      imgboxrem('./assets/case-2.png', 17)

    &_3
      imgboxrem('./assets/case-3.png', 17)

    &_4
      imgboxrem('./assets/case-4.png', 17)

    &_5
      imgboxrem('./assets/case-5.png', 17)

    &_6
      imgboxrem('./assets/case-6.png', 17)

    &_7
      imgboxrem('./assets/case-7.png', 17)

.section_home-description, .section_home-slogan
  p
    font-size rem(60, 17)
    line-height 1.2
    font-weight 300

    span
      display inline-block

    b
      font-weight 500

.section_home-cases
  p
    font-size rem(60, 17)
    line-height 1.2
    font-weight 200
    margin-bottom rem(50, 17)

    span
      display inline-block

    b
      font-weight 500

  .section
    &__home-cases-image
      text-decoration none
      color #fff
      background-image-retina('./assets/cases.jpg')
      background-repeat no-repeat
      background-size cover
      background-position center
      height rem(368, 17)
      width calc(100% + 5%)
      margin-left -5%
      display flex
      flex-direction column
      justify-content center
      position absolute
      top 50%
      margin-top rem(-75, 17)
      +width-lessthan(tablet)
        margin-top 0
        position static
        top auto
        margin-left 0
        width 100%

    &__content
      position relative
      top auto
      left 5%
      +width-lessthan(tablet)
        left 0

.show-cases
  display flex
  align-items center
  color #fff
  text-decoration none

  &__text
    font-size rem(18, 17)
    letter-spacing rem(3, 17)
    font-weight 300

  &__icon
    margin-left rem(20, 17)
    imgboxrem('./assets/show-cases.png', 17)

.section_home-hello
  flex-direction column
  align-items flex-start
  justify-content center
  +width-lessthan(tablet)
    margin-bottom 150px

  .section__row
    align-items flex-end
    margin-bottom rem(52, 17)

  h2
    font-size rem(60, 17)
    line-height 1.2
    font-weight 500
    margin-right rem(50, 17)

  .telegram
    position relative
    top rem(-8, 17)
