
  
.promo
  height 100vh
  display flex
  align-items center
  justify-content center

  &__item
    imgboxrem('./assets/case-1.png', 17)

.section_home-description
  p
    font-size rem(60, 17)
    line-height 1.2
    font-weight 300

    span
      font-weight 500

.section_home-cases
  p
    font-size rem(60, 17)
    line-height 1.2
    font-weight 200
    margin-bottom rem(50, 17)

    span
      font-weight 500

  .section
    &__home-cases-image
      background-image-retina('./assets/cases.jpg')
      background-repeat no-repeat
      background-size cover
      height rem(368, 17)
      width calc(100% + 5%)
      margin-left -5%
      background-color green
      display flex
      flex-direction column
      justify-content center
      position absolute
      top 50%
      margin-top rem(-75, 17)


    &__content
      position relative
      top auto
      left 5%

.show-cases
  display flex
  align-items center
  color #fff
  text-decoration none

  &__text
    font-size rem(18, 17)
    letter-spacing rem(3, 17)
    font-weight 300

  &__icon
    margin-left rem(20, 17)
    imgboxrem('./assets/show-cases.png', 17)

.section_home-hello
  flex-direction column
  align-items flex-start
  justify-content center

  h2
    font-size rem(60, 17)
    line-height 1.2
    font-weight 500
    margin-bottom rem(50, 17)

  a
    font-size rem(30, 17)
    font-weight 300
    color #fff
    text-decoration none

  p + p
    margin-top rem(50, 17)
