extends ../layout.pug

block content
  .barba-container(data-namespace="homepage")
    .page-container
      .promo(data-dom-module="promo" data-scroll-target)
        .promo__items
          .promo__item.promo__item_1
          .promo__item.promo__item_2
          .promo__item.promo__item_3
          .promo__item.promo__item_4
          .promo__item.promo__item_5
          .promo__item.promo__item_6
          .promo__item.promo__item_7
      section.section.section_home-description(data-scroll-target)
        .section__content
          p. 
            <span>Это</span> коммуникации <br> на стыке <span>Digital</span>, <br> <span>BTL</span> и <span>Content</span>
      section.section.section_home-cases(data-scroll-target)
        .section__home-cases-image
          .section__content
            p. 
              <span>Это</span> всегда <br> успешные <span>кейсы</span>
            a.show-cases(href="#")
              .show-cases__text Showreel
              .show-cases__icon
      section.section.section_home-slogan(data-scroll-target)
        .section__content
          p. 
            <span>Идут</span><br> не параллельно, <br><span>а рядом</span>
      section.section.section_home-hello(data-scroll-target)
        .section__content
          .section__row
            h2 Привет!
            a.telegram(href="#")
              .telegram__text Напишите нам в Telegram
              .telegram__icon
          .contacts-info-links
            a.contacts-info-links__item(href="tel:+73432536992") +7 (343) 253-69-92
            span.contacts-info-links__separator
            a.contacts-info-links__item(href="mailto:office@sputniki.com") office@sputniki.com
        p.copyright © Sputniki_  2018
