extends ../layout.pug

block content
  .barba-container(data-namespace="home")
    .page-container
      .promo(data-dom-module="promo" data-scroll-target)
        .promo__items
          .promo__item.promo__item_1
          .promo__item.promo__item_2
          .promo__item.promo__item_3
          .promo__item.promo__item_4
          .promo__item.promo__item_5
          .promo__item.promo__item_6
          .promo__item.promo__item_7
      section.section.section_home-description(data-scroll-target)
        .section__content
          p. 
            <span><b>Это</b> коммуникации</span> <br><span>на стыке <b>Digital</b>,</span> <br><span><b>BTL</b> и <b>Content</b></span>
      section.section.section_home-cases(data-scroll-target)
        a.section__home-cases-image(href="cases.html", data-dom-module="showreel")
          .section__content
            p. 
              <span><b>Это</b> всегда</span> <br> <span>успешные <b>кейсы</b></span>
            .show-cases
              .show-cases__text Showreel
              .show-cases__icon
      section.section.section_home-slogan(data-scroll-target)
        .section__content
          p. 
            <span><b>Идут</b></span><br> <span>не параллельно,</span> <br><span><b>а рядом</b></span>
      section.section.section_home-hello(data-scroll-target)
        .section__content
          .section__row
            h2 Привет!
            a.telegram(href="#")
              .telegram__background
              .telegram__border.telegram__border_left
              .telegram__border.telegram__border_right
              .telegram__text Напишите нам в Telegram
              .telegram__circle
                .telegram__icon
          .contacts-info-links
            a.contacts-info-links__item(href="tel:+74956697801") +7 (495) 669-78-01
            span.contacts-info-links__separator
            a.contacts-info-links__item(href="mailto:office@sputniki.com") office@sputniki.com
