extends ../layout.pug

block content
  .block(data-scroll-target)
    h1 Hello world
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas facilis a distinctio repudiandae quidem labore veritatis! Doloremque dignissimos similique veritatis facilis dolores iusto, cupiditate exercitationem, reprehenderit obcaecati doloribus molestiae ratione?
  .block(data-scroll-target)
    h1 Hello world
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas facilis a distinctio repudiandae quidem labore veritatis! Doloremque dignissimos similique veritatis facilis dolores iusto, cupiditate exercitationem, reprehenderit obcaecati doloribus molestiae ratione?
  .block(data-scroll-target)
    h1 Hello world
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas facilis a distinctio repudiandae quidem labore veritatis! Doloremque dignissimos similique veritatis facilis dolores iusto, cupiditate exercitationem, reprehenderit obcaecati doloribus molestiae ratione?
