extends ../layout.pug

block content
  .barba-container(data-namespace="home")
    .page-container
      .promo(data-dom-module="promo" data-scroll-target)
        .promo__items
          .promo__hover
          .promo__group
            .promo__item.promo__item_1
            .promo__item.promo__item_2
            .promo__item.promo__item_3
            .promo__item.promo__item_4
            .promo__item.promo__item_5
            .promo__item.promo__item_6
            .promo__item.promo__item_7
      section.section.section_home-description(data-scroll-target)
        .section__content
          p. 
            <span>Коммуникации</span> <br><span>на стыке <b>Digital</b>,</span> <br><span><b>BTL</b>, <b>Content</b></span>
      section.section.section_home-cases(data-scroll-target, data-dom-module="video-preview")
        div.section__wrapper(data-dom-module="showreel")
          div(data-dom-module="case-promo", data-video='[{ "name": "Кейс", "videoId": "vUMr7ueA1Hw"}]')
            a.section__home-cases-image(data-video-preview, data-case="di-caprio")
              .section__background(data-video-background)
              .section__canvas-container(data-video-canvas-container)
              .section__overlay
              .section__content
                p. 
                  <span>Всегда</span> <br> <span>успешные <b>кейсы</b></span>
                .show-cases
                  .show-cases__text Showreel
                  .show-cases__icon
      section.section.section_home-slogan(data-scroll-target)
        .section__content
          p. 
            <span><b>Идут</b></span><br> <span>не параллельно,</span> <br><span><b>а рядом</b></span>
      section.section.section_home-hello(data-scroll-target)
        .section__content
          .section__row
            h2 Привет!
            a.telegram(target="_blank" href="https://www.messenger.com/t/SputnikiCom")
              .telegram__background
              .telegram__border.telegram__border_left
              .telegram__border.telegram__border_right
              .telegram__text Напишите нам в Facebook
              .telegram__circle
                .telegram__icon
          .contacts-info-links
            span.contacts-info-links__item
              a(href="tel:+74956697801") +7 (495) 669-78-01
            span.contacts-info-links__separator
            span.contacts-info-links__item
              a(href="mailto:office@sputniki.com") office@sputniki.com
