extends ../layout.pug

block content
  .barba-container(data-namespace="about")
    .page-container
      .page.page_about
        .page__content
          .title Так продукты <br> общаются <br> с людьми
          .description.
            Мы очень разные, именно это <br> 
            нас объединяет. Нас советуют друзьям, <br> 
            а мы советуем быть откровенными. <br> 
            Мы не подрядчики, а спутники <br> 
            вашего бизнеса. Однажды о нас <br> 
            написали Time, GQ, Vanity Fair <br> 
            и 30 других зарубежных СМИ.

          .facts
            .fact.fact_year
              .fact__number
              .description. 
                лет <br>
                меняем восприятие <br>
                и поведение потребителей <br>
            .fact.fact_employees
              .fact__number
              .description. 
                сотрудников компании <br>
                обеспечивают уникальный опыт <br>
                взаимодействия потребителя <br>
                с вашим продуктом
            .fact.fact_offices
              .fact__number
              .description. 
                офиса: Москва, <br>
                Екатеринбург
            .fact.fact_talents
              .fact__number
              .description. 
                внешних талантов <br>
                для решения любых <br>
                задач <br>
          
          .ratings
            .ratings__title. 
              Рейтинги и ассоциации <br>
              в которых мы состоим
            .ratings__block
              .ratings__background-block
              .ratings__item.ratings__item_1
                .ratings__logo
              .ratings__item.ratings__item_2
                .ratings__logo
              .ratings__item.ratings__item_3
                .ratings__logo
              .ratings__item.ratings__item_4
                .ratings__logo
        .copy-trigger
