extends ../layout.pug

block content
  .barba-container(data-namespace="aboutpage")
    .page-container
      .page
        .page__content
          .title Made in Ural
          .description.
            Мы приехали из Екатеринбурга, <br> 
            привлекли таланты со всей <br> 
            России и начали создавать <br> 
            сильные, правдивые и ситуативные <br> 
            коммуникации для крупных <br> 
            российских и международных <br> 
            брендов.
          
          .facts
            .fact.fact_year
              .fact__line
              .fact__number
              .description. 
                лет <br>
                меняем восприятие <br>
                и поведение потребителей <br>
            .fact.fact_offices
              .fact__line
              .fact__number
              .description. 
                офиса: Москва, <br>
                Екатеринбург
            .fact.fact_employees
              .fact__line
              .fact__number
              .description. 
                сотрудников компании <br>
                обеспечивают уникальный опыт <br>
                взаимодействия потребителя <br>
                с вашим продуктом
            .fact.fact_talents
              .fact__line
              .fact__number
              .description. 
                внешних талантов <br>
                для решения любых <br>
                ваших задач <br>
          
          .ratings
            .ratings__title. 
              Рейтинги и ассоциации <br>
              в которых мы состоим
            .ratings__block
