@import '../../variables.styl';

.social-list
  position absolute
  bottom rem(60, 17)
  left rem(100, 17)
  list-style-type none
  margin 0
  padding 0
  white-space nowrap
  +width-lessthan(tablet)
    left rem(40, 17)
    bottom rem(40, 17)

  &__item
    display inline-block
  
  &__item + &__item
    margin-left rem(40, 17)

  &__link
    display block
    
    svg
      path
        transition stroke 0.3s ease-in-out, fill 0.3s ease-in-out

    &:hover
      svg
        path[fill]
          fill rgba(255, 255, 255, .7)
        path[stroke]
          stroke rgba(255, 255, 255, .7)

    &_fb, &_instagram
      width rem(30, 17)
      height rem(30, 17)
      +width-lessthan(tablet)
        width rem(27, 17)
        height rem(27, 17)        

    &_youtube
      width rem(41, 17)
      height rem(30, 17)
      +width-lessthan(tablet)
        height rem(27, 17)
        width rem(37, 17)
